ServiciosWeb.ClienteConsole/Connected Services/ServiceProductoASMX/ServicioProducto.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ObtenerProductos">
        <s:complexType />
      </s:element>
      <s:element name="ObtenerProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObtenerProductosResult" type="tns:ArrayOfProducts" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProducts">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Products">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ProductID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ProductName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SupplierID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CategoryID" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="QuantityPerUnit" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitPrice" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsInStock" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="UnitsOnOrder" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="ReorderLevel" nillable="true" type="s:short" />
          <s:element minOccurs="1" maxOccurs="1" name="Discontinued" type="s:boolean" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerProductosSoapIn">
    <wsdl:part name="parameters" element="tns:ObtenerProductos" />
  </wsdl:message>
  <wsdl:message name="ObtenerProductosSoapOut">
    <wsdl:part name="parameters" element="tns:ObtenerProductosResponse" />
  </wsdl:message>
  <wsdl:portType name="ServicioProductoSoap">
    <wsdl:operation name="ObtenerProductos">
      <wsdl:input message="tns:ObtenerProductosSoapIn" />
      <wsdl:output message="tns:ObtenerProductosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServicioProductoSoap" type="tns:ServicioProductoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerProductos">
      <soap:operation soapAction="http://tempuri.org/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServicioProductoSoap12" type="tns:ServicioProductoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerProductos">
      <soap12:operation soapAction="http://tempuri.org/ObtenerProductos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProducto">
    <wsdl:port name="ServicioProductoSoap" binding="tns:ServicioProductoSoap">
      <soap:address location="https://localhost:44309/ServicioProducto.asmx" />
    </wsdl:port>
    <wsdl:port name="ServicioProductoSoap12" binding="tns:ServicioProductoSoap12">
      <soap12:address location="https://localhost:44309/ServicioProducto.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>